<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    
    <!-- import plugin script -->
    <script src='static/Chart.min.js'></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    {% if title %}
        <title>TSF Blog - {{ title }}</title>
    {% else %}
        <title>TSF</title>
    {% endif %}

  </head>
  <body>
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
          <div class="container">
            <a class="navbar-brand " href="/">TSF</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
              <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link" href="{{ url_for('home') }}">Home</a>
                <a class="nav-item nav-link" href="{{ url_for('about') }}">About</a>
              </div>
              <!-- Navbar Right Side -->
              <div class="navbar-nav">
                {% if current_user.is_authenticated %}
                <a class="nav-item nav-link" href="{{ url_for('profile') }}">Profile</a>
                <a class="nav-item nav-link" href="{{ url_for('logout') }}">Log Out</a>
  
                {% else %}
                  <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
                  <a class="nav-item nav-link" href="{{ url_for('signin') }}">Sign Up</a>
                {% endif %}
                </div>
            </div>
          </div>
        </nav>
      </header>
    
    
    <!-- bar chart canvas element -->

    <main role="main" class="container">
        <h1>My Graphs</h1>
        <div class="row">
          <div class="col-md-8">
            <canvas id="svrChart" width="700" height="400"></canvas>
            <p id="caption">Here is a graph for your predicted data, don't worry you can enter the number of predictions according to your desire.
            </p> 
            <p id= "caption2"> Error rate (RMSE) for Support Vector Regressor: {{ svr_error_rate }}
            </p>
            <p id= "caption3"> Error rate (RMSE) for Random Forest Regressor: {{ rfr_error_rate }}
            </p>
            <p id= "caption4"> Error rate (RMSE) for Decision Tree Regressor: {{ dtr_error_rate }}
            </p>
            <p id= "caption5"> Error rate (RMSE) for XGBoost: {{ xgb_error_rate }}
            </p>
            <form method="POST" action="" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                  <h5 class="card-subtitle mb-2">Number of Predictions</h5>
                  <ul class="list-group list-group-flush">
                    <div class="form-group">
                        {{ form.days.label() }}
                        {{ form.days(class="form-control-file") }}
                        {% if form.days.errors %}
                            {% for error in form.days.errors %}
                                <span class="text-danger">{{ error }}</span></br>
                            {% endfor %}
                        {% endif %}
                    </div>


                    
                  </ul>
                </fieldset>
                <div class="form-group">
                    {{ form.upload(class="btn btn-outline-info") }}
                </div>
           </form>

               <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
              <h5 class="card-subtitle mb-2">Download File</h5>
              <ul class="list-group list-group-flush">
                <div class="form-group">

                </div>

              </ul>
            </fieldset>
            <div class="form-group">
                {{ form2.download(class="btn btn-outline-info") }}
            </div>
        </form>


          </div>
        
          <div class="col-md-4">
            <div class="content-section">
              <h3>TSF Sidebar</h3>
              <p class='text-muted'>Delivered by TSF Team
                <div class="list-group">
                  <a href="{{ url_for('contactus') }}" class="list-group-item list-group-item-action">Contact Us</a>
                  <a href="{{ url_for('graph') }}" class="list-group-item list-group-item-action">Models Info</a>
                  <a href="/" class="list-group-item list-group-item-action">Membership Info</a>
                </div>
              </p>
            </div>
          </div>
        </div>
      </main>
        
    

    
    <script>
      // Global parameters:
      // do not resize the chart canvas when its container does (keep at 600x400px)
      Chart.defaults.global.responsive = false;

      // define the chart data
      var chartData = {
        labels : [{% for item in labels %}
                   "{{item}}",
                  {% endfor %}],
        datasets : [{
            label: 'svr',
            fill: false,
            lineTension: 0.15,
            borderColor: "rgba(75,192,192,1)",
            backgroundColor: "rgba(75,192,192,0.4)",

            borderCapStyle: 'butt',
            borderDash: [],
            borderDashOffset: 0.0,
            borderJoinStyle: 'miter',/*
            pointBorderColor: "rgba(75,192,192,1)",
            pointBackgroundColor: "#fff",
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: "rgba(75,192,192,1)",
            pointHoverBorderColor: "rgba(220,220,220,1)",
            pointHoverBorderWidth: 2,
            pointRadius: 1,
            pointHitRadius: 10,*/
            data : [{% for item in svr_data %}
                      {{item}},
                    {% endfor %}],
            spanGaps: false
        }, {
            label: 'rfr',
            fill: false,
            lineTension: 0.15,
            borderColor: "rgba(192,192,75,1)",
            backgroundColor: "rgba(192,192,75,0.4)",

            borderCapStyle: 'butt',
            borderDash: [],
            borderDashOffset: 0.0,
            borderJoinStyle: 'miter',/*
            pointBorderColor: "rgba(192,192,75,1)",
            pointBackgroundColor: "#fff",
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: "rgba(192,192,75,1)",
            pointHoverBorderColor: "rgba(220,220,220,1)",
            pointHoverBorderWidth: 2,
            pointRadius: 1,
            pointHitRadius: 10,*/
            data : [{% for item in rfr_data %}
                      {{item}},
                    {% endfor %}],
            spanGaps: false
        }, {
            label: 'dtr',
            fill: false,
            lineTension: 0.15,
            borderColor: "rgba(192,75,75,1)",
            backgroundColor: "rgba(192,75,75,0.4)",

            borderCapStyle: 'butt',
            borderDash: [],
            borderDashOffset: 0.0,
            borderJoinStyle: 'miter',/*
            pointBorderColor: "rgba(192,75,75,1)",
            pointBackgroundColor: "#fff",
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: "rgba(192,75,75,1)",
            pointHoverBorderColor: "rgba(220,220,220,1)",
            pointHoverBorderWidth: 2,
            pointRadius: 1,
            pointHitRadius: 10,*/
            data : [{% for item in dtr_data %}
                      {{item}},
                    {% endfor %}],
            spanGaps: false
        }, {
            label: 'xgb',
            fill: false,
            lineTension: 0.15,
            borderColor: "rgba(75,75,192,1)",
            backgroundColor: "rgba(75,75,192,0.4)",

            borderCapStyle: 'butt',
            borderDash: [],
            borderDashOffset: 0.0,
            borderJoinStyle: 'miter',/*
            pointBorderColor: "rgba(75,75,192,1)",
            pointBackgroundColor: "#fff",
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: "rgba(75,75,192,1)",
            pointHoverBorderColor: "rgba(220,220,220,1)",
            pointHoverBorderWidth: 2,
            pointRadius: 1,
            pointHitRadius: 10,*/
            data : [{% for item in xgb_data %}
                      {{item}},
                    {% endfor %}],
            spanGaps: false
        }]
      }

      // get chart canvas
      let ctx = document.getElementById("svrChart").getContext("2d");

      // create the chart using the chart canvas
      let svrChart = new Chart(ctx, {
        type: 'line',
        data: chartData,
      });

    </script>
  </body>
</html>
