{% extends "layout.html" %}
{% block content %}
    
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">TSF Tech</a>
              
            </div>
            <h2><a class="article-title" >Welcome</a></h2>
           
          </div>
        </article>

        <section id="testimonials">

            <h2>There are several things you should do to achieve forecasting results...</h2>
        
            <div id="testimonials-carousel" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  First: You need to sign-up and create an account.
                </div>
                <div class="carousel-item">
                  Second: You need to upload your data in .csv format.
                </div>
                <div class="carousel-item">
                  Third: You need to go ML Models and choose one.
                </div>
                <div class="carousel-item">
                  Last: Select a model. Results will appear on the page.
                </div>
              </div>
              <a class="carousel-control-prev" href="#testimonials-carousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#testimonials-carousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
        
          </section>
   
{% endblock content %}